.dashboard-root {
    .hr-divider {
        font-size: 17px;
        margin: 20px auto;
        .hr-divider-content {
            font-weight: bold;
            text-align: center;
            margin: 30px auto;
        }
    }
}