.park-car-container{
 input[type=number] {
    -webkit-text-security: disc;
    -moz-text-security:disc;
}
.passcode-box {
		
		.input-group {
	    margin-bottom:10px;

	    input {
	    height:35px;
	    }
	    button {
	    height:35px;
	    }
}

	
}

.parking-rules li {
	margin:22px 0px;
	font-weight:bold;
}   
}