.advanced-filter {
    background: #1a1c22;
    border-radius: 10px;
    margin: 10px 15px 10px 15px;
    .advanced-filter-head {
        padding: 5px;
        cursor: pointer;
        margin: 15px 0px 0px 0;
        border-radius: 5px 5px 0px 0px;
        &.bottom-line {
            border-bottom: 2px solid #777373;
        }
        .icon {
            font-size: 19px;
            vertical-align: middle;
        }
        .icon-copy {
            margin-left: 10px;
        }
        .epa-label {
            font-size: 16px;
            display: inline-block;
            font-weight: bold;
        }
    }
    .advanced-filter-content {
        margin-top: 0px;
        background: #252830;
        overflow: hidden;
        .advanced-info-box {
            p {
                margin: 10px;
                font-size: 15px;
                font-weight: bolder;
            }
        }
        &.show-row {
            height: auto;
            overflow: visible;
            background: #1a1c22;
            border-radius: 0px 0px 10px 10px;
            .text-info {
                padding: 10px;
            }
            padding-bottom: 10px;
            .marker-wrapper {
                margin: 10px 10px;
                padding: 5px 0px;
                border: 2px solid #252830;
                text-align: center;
                .dragBox {
                    cursor: move;
                    display: inline-block;
                    opacity: 1;
                    border-radius: 15px;
                    color: white;
                    font-weight: bold;
                    padding: 7px 15px;
                    margin: 0px 5px;
                }
            }
            .button-container {
                padding-bottom: 10px;
            }
        }
        &.hide-row {
            height: 0px;
        }
    }
}