.dotViewWrapper {
    &.only-dotview {
        text-align: center;
        display: block;
    }
    display: inline-block;
    vertical-align: top;
    position: relative;
    .dotViewRoot {
        display: inline-block;
        vertical-align: top;
        position: relative;
        .dot-view-line {
            stroke: #3a3a3a;
            stroke-width: 2px;
        }
        .dot-plot-markers {
            fill: white;
            font-weight: bold;
            font-size: 1em;
            cursor: pointer;
            text-anchor: middle;
        }
        .alignment-link-lines {
            stroke: #00deff;
            stroke-width: 2px;
            opacity: 0.5;
            pointer-events: none;
            &.hidden-alignment-link {
                opacity: 0;
            }
        }
        .tracksContainer {
            path.track-line-path {
                stroke: #238099;
                stroke-width: 2px;
                fill: none;
            }
            &.rotate {
                transform-origin: bottom right;
                transform: rotate(90deg);
            }
        }
        .tracksTrailsContainer {
            line.track-trails {
                stroke-width: 0.5px;
                stroke: #525765;
            }
            &.rotate {
                transform-origin: bottom right;
                transform: rotate(90deg);
            }
        }
    }
    .chrom-mode {
        border-radius: 10px;
        background: #1a1c22;
        margin: 10px 15px 0 15px;
        .alignment-link-lines {
            cursor: pointer;
            pointer-events: all;
            &:hover {
                opacity: 0.9;
            }
        }
    }
}