.link {
    fill: none;
    stroke-opacity: .5;
    cursor: pointer;
}

.markersText {
    fill: white;
    font-weight: bold;
    font-size: 1.0em;
}

.link-polygon {
    stroke: none;
    fill-opacity: .5;
    cursor: pointer;
}

.dot-view-line {
    stroke: #3a3a3a;
    stroke-width: 2px;
}

.dot-plot-markers {
    fill: white;
    font-weight: bold;
    font-size: 1em;
}

.alignment-link-lines {
    stroke: #00deff;
    stroke-width: 2px;
    opacity: 0.5;
    cursor: pointer;
}

.genomeViewSVG {
    display: block;
    margin: 0 auto;
}

.panelViewRoot,
.dotViewRoot {
    display: inline-block;
}

circle.scatter-plot-dot {
    fill: #2a859b;
}