.hiveView-root {
    margin: 10px;
    form.filter-panel-hive {
        text-align: center;
        .filter-row {
            width: 375px;
            display: inline-block;
            margin: 10px 5px;
            label {
                padding-right: 10px;
            }
        }
        .add-source {
            margin-right: 15px;
            font-size: 20px;
            padding: 1px 12px;
        }
        .checkbox {
            display: inline-block;
            width: 150px;
            margin-right: 15px;
            label {
                font-weight: bold;
            }
        }
    }
    .hiveViewSVG {
        margin: 10px auto;
        .hive-link-line {
            fill: none;
            stroke-opacity: 0.5;
        }
        .hive-link-polygon {
            stroke: none;
            fill-opacity: 0.5;
        }
        text.hive-label {
            fill: white;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            transform: translate(-8px, 8px);
            &.active {
                fill: cyan;
            }
        }
        text.hive-marker-label {
            text-anchor: middle;
            font-size: 15px;
            fill: white;
            font-weight: bold;
        }
    }
}