#information-root {
    h4.sub-info {
        text-transform: capitalize;
        margin-bottom: 7px;
        margin-top: 7px;
    }
    svg {
        background: #252830;
    }
    .pieText {
        fill: white;
        font-size: 18px;
        font-weight: bold;
    }
    .filter-panel-container {
        label {
            padding: 0px 15px 15px 0px;
        }
        #track-btn {
            margin-left: 10px;
        }
        .btn-primary-outline {
            margin-top: 10px;
        }
        .checkbox {
            display: inline-block;
            margin: -5px;
            label {
                font-weight: bold;
            }
        }
    }
}