.plot-type-panel {
    .info-text-message {
        font-size: 17px;
    }
    .configuration-sub-title {
        padding-bottom: 10px;
        border-bottom: 2px solid #09a6e3;
    }
    .loading-text {
        margin-top: 30px;
        text-transform: capitalize;
        font-style: oblique;
    }
    p.conf-radio>label {
        font-weight: 100;
    }
    p.conf-radio {
        display: inline-block;
        margin-right: 15px;
        margin-top: 10px;
    }
    .track-select-box {
        .select-wrapper {
            display: inline-block;
            margin: 10px 10px;
        }
        select {
            width: 200px;
            display: inline-block;
            margin-left: 10px;
        }
    }
}