.small-wrapper-header {
    margin: 20px 15px 0px 15px;
    h4 {
        font-weight: bold;
        background: #1a1c22;
        padding: 10px 10px 0px 10px;
        border-radius: 10px 10px 0px 0px;
        margin: 0px;
    }
    .icon {
        margin-left: 10px;
    }
}

.small-wrapper-inner {
    .small-wrapper-button {
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 2px 2px;
        position: relative;
    }
    .close {
        background: white;
        border-radius: 10px;
        width: 20px;
        position: absolute;
        right: 2px;
        top: 2px;
        color: black;
        opacity: 1;
    }
    .info-text-message {
        display: block;
        padding: 8px 0px;
        background: #1a1c22;
    }
    .clickable-search {
        display: inline-block;
        margin-right: 30px;
        border: 2px solid white;
        border-radius: 7px;
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            background: #32879e;
        }
    }
    margin: 0px 15px 20px 15px;
    background: #1a1c22;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    button {
        margin-left: 10px;
    }
    input {
        width: 150px;
        display: inline-block;
        vertical-align: middle;
    }
    .small-wrapper-inner-result {
        font-size: 16px;
        margin: 10px;
    }
}