.snapshot-capture {
    position: fixed;
    bottom: 75px;
    right: 25px;
    padding: 6px 12px;
    background: #1a1c22;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}