.statcard-container {
    
    .title-box {
         padding:15px 15px 0px 15px;
    
        .statcard-desc {
            font-size:13px;
        }
        
    }
    
    .icon {
    display: block;
    text-align: right;
    font-size: 45px;
    margin: 0px 20px;
    }
    
}